<section>\
  <div class="card">
    <img class="planet" src="../../assets/images/planet-orange.png" alt="orange planet">

    <h2>Dados pessoais</h2>

    <div class="info">
      <p>Nome: Rhogger Freitas</p>
      <p>Idade: 20</p>
      <p>Email: rhoggerrv@gmail.com</p>
      <p>Número Celular: (64) 99984-0431</p>
    </div>

  </div>

  <div class="card">
    <img class="planet" src="../../assets/images/planet-blue.png" alt="blue planet">

    <h2>Sobre mim</h2>

    <div class="info">
      <p>Aluno de Engenharia de Software na UniRV, estudando Angular nas aulas de POO 2 e em paralelo HTML, CSS,
        JavaScript, Node e TypeScript na
        Rocketseat, com o objetivo de me tornar um Desenvolvedor Front-End.</p>
    </div>
  </div>

  <div class="card">
    <img class="planet" src="../../assets/images/planet-pink.png" alt="pink planet">

    <h2>Redes Sociais</h2>

    <div class="info">
      <div class="social-media">
        <a href="https://www.instagram.com/rhogger._.fs/" target="_blank">
          <img class="icon" src="../../assets/icons/instagram.svg" alt="Instragram icon">

          <p>Instagram</p>
        </a>

      </div>

      <div class="social-media">
        <a href="https://www.linkedin.com/in/rhogger-fs/" target="_blank">
          <img class="icon" src="../../assets/icons/linkedin.svg" alt="LinkedIn icon">

          <p>LinkedIn</p>
        </a>
      </div>

      <div class="social-media">
        <a href="https://github.com/Rhogger" target="_blank">
          <img class="icon" src="../../assets/icons/github.svg" alt="Github icon">

          <p>GitHub</p>
        </a>
      </div>
    </div>
  </div>
</section>