<section>
  <div class="contact-menu">
    <h2>Entre em Contato</h2>

    <form id="inputs">
      <div class="input-name">
        <img src="../../assets/icons/user.svg" alt="user icon">

        <input type="text" form="inputs" placeholder="Seu nome" required minLength="3">
      </div>

      <div class="input-email">
        <img src="../../assets/icons/dot.svg" alt="dot mail icon">

        <input type="email" form="inputs" placeholder="E-mail" required>
      </div>

      <textarea form="inputs" placeholder="Digite sua mensagem aqui..." required minlength="15"></textarea>

      <button class="submit-message">Enviar Mensagem</button>
    </form>
  </div>

  <img class="stars" src="../../assets/images/stars.png" alt="real 4 pointed star">
</section>

<footer>
  <p> © 2023 - Rhogger FS </p>
</footer>